<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941009135597-rgj76a1tkcv47s0ndedjejdv5bso79cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941009135597-rgj76a1tkcv47s0ndedjejdv5bso79cb</string>
	<key>API_KEY</key>
	<string>AIzaSyAGzXpoH5Isn-S1QtsvQhN_othmHxUYgtQ</string>
	<key>GCM_SENDER_ID</key>
	<string>941009135597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worktiming</string>
	<key>PROJECT_ID</key>
	<string>worktiming-69781</string>
	<key>STORAGE_BUCKET</key>
	<string>worktiming-69781.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941009135597:ios:9a1eb0cd7f02826a8469e4</string>
</dict>
</plist>